@import "fonts"
@import "vars"

// home	
.home
	position: relative
	.container
		position: relative
	.h1
		color: #fff

.subtitle
	font-size: 40px
	font-weight: 500
	color: #fff
	max-width: 572px

.home-slider
	position: relative
	z-index: 1
	&-item
		position: relative
		padding: 240px 0 377px
		z-index: 1
		> *
			z-index: 2
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
			z-index: 1
		&__bg
			position: absolute
			z-index: -1
			width: 100%
			height: 100%
			object-fit: cover
			left: 0
			top: 0

// .swiper-wrapper
// 	align-items: stretch
// 	.swiper-slide
// 		height: auto
// 	.home-slider-item
// 		height: 100%	

.home-navigation
	position: absolute
	bottom: 83px
	left: 0
	z-index: 2
	width: 100%

.home-navigation-slider
	position: relative
	overflow-x: hidden
	overflow-y: visible
	.slick-list
		margin: 0
	.slick-slide
		padding: 0 4px
		// margin: 0 -417px 0 0
		// width: 222px
		// width: 639px
	.slick-current
		// margin: 0
		.home-navigation-slider-item
			width: 631px
			&__open
				opacity: 1
				pointer-events: auto

.home-navigation-slider-item
	width: 214px
	will-change: width
	// width: 214px

	height: 100%
	border-radius: 5px
	position: relative
	transition: .25s ease
	cursor: pointer
	&__front
		width: 214px
		height: 100%
		padding: 27px 19px
		background: #fff
		position: relative
		border-radius: 5px
		backdrop-filter: blur(7.5px)
	&__open
		backdrop-filter: blur(7.5px)
		will-change: opacity
		pointer-events: none
		opacity: 0
		position: absolute
		left: 0
		top: 0
		background: rgba(255, 255, 255, 0.9)
		z-index: 2
		width: 100%
		height: 100%
		transition: .25s ease-in-out
		border-radius: 5px
		padding: 20px

	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		border-radius: 0px 0px 5px 5px
		height: 6px
		background: #9A9A9A
		z-index: 1
	h3
		font-weight: 600
		width: 100%
		font-size: 20px
	h4
		font-weight: 600
	.box-text
		color: #A3A3A3
		line-height: 19px
		max-width: 265px
		margin: 11px 0 35px
	&__icon
		margin: 0 0 25px
		display: flex
		align-items: center
		height: 70px
		img
			max-height: 100%

.slider-progress
	width: 100%
	position: absolute
	z-index: 1
	left: 0
	bottom: 0
	height: 6px
	.progress
		background: $accent
		height: 100%
		border-radius: 0px 0px 5px 5px
// home end	

// best-offers
.best-offers
	margin: 75px 0 0
	h2
		margin: 0 0 19px

.best-offers-wrapper
	width: 100%
	border-bottom: 1px solid #E6E6E6
	display: flex
	align-items: center
	justify-content: space-between
	flex-wrap: wrap

.best-offers-slider__col
	.product-card
		margin: 0 0 20px
		height: auto
		&:last-child
			margin: 0

.product-card
	width: 100%
	height: 100%
	transition: .3s ease
	background: #fff
	padding: 46px 30px 20px
	border-radius: 5px
	&__img
		@include d-flex
		margin: 0 auto 26px
		height: 180px
		img
			max-height: 100%
	&__title
		text-align: center
		margin: 0 auto
		font-size: 16px
		font-weight: 500
		min-height: 40px
		max-height: 40px
		color: #000
		&:hover
			color: $accent
	.btn-group
		margin: 25px auto 0
		justify-content: center
		align-items: center
		flex-wrap: nowrap
	.btn
		width: fit-content
		padding: 0 27px
	.btn-basket
		font-weight: normal
		padding: 0 17px
	&:hover
		filter: drop-shadow(0px 15px 45px rgba(0, 0, 0, 0.1))
		transform: translateY(-5px)

.best-offers-slider
	.slick-arrow
		top: -58px
		left: auto
		right: 0
		transform: none
		width: 10px
		height: 18px
		border-radius: 0
		border: none
		svg
			stroke: #E8E8E8
		&:hover
			background: transparent
			svg
				stroke: #999999
	.slick-prev
		right: 30px

.product-card-slider
	.slick-dots
		margin: 7px 0 0

.tab-content > .tab-pane, .pill-content > .pill-pane
	display: block
	height: 0
	//overflow: hidden 
.tab-content > .active, .pill-content > .active
	height: auto
// best-offers end

// sales
.sales
	margin: 83px 0

.sales-banner
	position: relative
	z-index: 1
	padding: 77px 47px 68px
	border-radius: 5px
	overflow: hidden
	color: #fff

	&__bg
		position: absolute
		z-index: -2
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
		z-index: -1
	h2
		text-transform: uppercase
		font-size: 40px

	.btn
		margin: 50px 0 0
		padding: 0 87px
// sales end

// category	
.category
	margin: 0 0 64px

.category-card
	width: 100%
	height: 100%
	min-height: 215px
	position: relative
	border-radius: 5px
	background: #fff
	z-index: 1
	transition: .3s ease
	cursor: pointer
	padding: 12px 23px 32px
	display: flex
	flex-direction: column
	&:hover
		box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1)
		transform: translateY(-5px)
	&__img
		width: 150px
		height: 100%
		position: absolute
		z-index: -1
		right: 0
		top: 50%
		transform: translate(0,-50%)
		display: flex
		align-items: center
		justify-content: flex-start
		img
			max-height: 100%
	&__title
		font-size: 20px
		font-weight: 600
		color: #000000
		line-height: 24px
		max-width: 225px
		margin: 0 0 53px
		&:hover
			color: $accent
	.btn
		margin: auto 0 0
		padding: 0 40px
		font-size: 14px

.all-category
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	color: #D60000
	font-size: 20px
	font-weight: 600
	text-align: left
	text-transform: uppercase
	line-height: 24px
	.btn-icon
		margin: 0 0 0 22px
		@include d-flex
		width: 47px
		height: 47px
		min-width: 47px
		background: $accent
		fill: none
		stroke: #fff
		border-radius: 5px
		svg
			width: 24px
			height: 34px
	.btn-text
		max-width: 165px
	&:hover
		transform: translateY(-5px)
		box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1)
		.btn-icon
			background: #fff
			stroke: $accent
// category end

// about	
.about
	padding: 78px 0 66px
	h2
		margin: 0 0 30px
	.link-page
		margin: 30px 0 0

.about-image
	width: 100%
	border-radius: 5px
	@include d-flex
	img
		border-radius: 5px

.advantages
	margin: 86px 0 0
	width: 100%

.advantages-box
	width: 100%
	height: 100%
	min-height: 262px
	text-align: center
	position: relative
	z-index: 1
	display: flex
	align-items: center
	justify-content: center
	color: #fff
	line-height: 22px
	perspective: 1000px
	border-radius: 5px

	&__front, &__back
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		backface-visibility: hidden
		transition: 1s ease
		display: flex
		flex-wrap: wrap
		border-radius: 5px
	&__front
		align-items: center
		justify-content: center
		border-radius: 5px
		overflow: hidden
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
			z-index: -1
	&__back
		transform: rotateY(180deg)
		background: #fff
		padding: 40px 33px
		box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1)
	&__title
		text-align: center
		font-size: 20px
		font-weight: bold
		max-width: 360px
		width: 100%
		margin: 0 auto
		text-transform: uppercase
	&__bg
		position: absolute
		left: 50%
		top: 50%
		z-index: -2
		width: 100%
		height: 100%
		object-fit: cover
		transform: translate(-50%,-50%)
		border-radius: 5px
		overflow: hidden
	&__text
		width: 100%
		height: 100%
		color: #000
		text-align: left
		overflow: hidden
	h3
		font-size: 20px
		font-weight: 600
		margin: 0 0 27px
	&:hover

		.advantages-box__front
			transform: rotateY(180deg)
		.advantages-box__back
			transform: rotateY(360deg)

// about end	

// reviews
.reviews
	margin: 74px 0 0

.reviews-video-card
	position: relative
	border-radius: 5px
	overflow: hidden
	&__video
		width: 100%
		height: 227px
		position: relative
		z-index: 1
		border-radius: 5px
		img
			width: 100%
			height: 100%
			object-fit: cover
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
	.btn-play
		position: absolute
		z-index: 1
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
	&__body
		margin: -32px 0 0
		padding: 42px 14px 10px
		width: 100%
		display: flex
		align-items: flex-start
		justify-content: space-between
		flex-wrap: wrap
		border: 1px solid #D60000
		border-radius: 5px
	&__name
		font-weight: 600
	&__position
		color: #BCBCBC
		max-width: 165px
		font-size: 14px
		line-height: 20px

.reviews-slider
	margin: 29px 0 0
	.slick-slide
		margin: 30px 0 30px

.reviews-card
	width: 100%
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05)
	border-radius: 5px
	background: #fff
	padding: 20px 20px 32px
	display: flex
	align-items: flex-start
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	&__photo
		border-radius: 50%
		overflow: hidden
		@include d-flex
		width: 80px
		height: 80px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__body
		padding: 0 0 0 20px
		width: calc(100% - 80px)
	&__name
		font-weight: 600
	&__position
		font-size: 14px
		margin: 3px 0 25px
		color: #BCBCBC
		max-width: 165px
		line-height: 20px
	.box-text
		line-height: 22px
// reviews end

// news	
.news
	margin: 70px 0 100px

.news-slider
	.slick-slide
		margin: 0 0 35px

.news-card
	width: 100%
	height: 100%
	min-height: 470px
	position: relative
	border-radius: 5px
	padding: 49px 20px 20px
	font-size: 14px
	color: #fff
	display: flex
	flex-direction: column
	overflow: hidden
	box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.05)
	&__bg
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		width: 100%
		height: 100%
		object-fit: cover
		z-index: -2
		border-radius: 5px
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
		z-index: -1
	&__title
		color: #fff
		font-size: 20px
		font-weight: 600
		max-width: 270px
		&:hover
			color: $accent
	.date
		margin: 15px 0 auto 0

// news end	

// callback	
.callback
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/callback-bg.jpg') no-repeat center
	background-size: cover
	padding: 77px 0 70px
	color: #fff
	.box-text
		margin: 24px auto 51px
		max-width: 535px
		font-size: 24px
		font-weight: 500
		line-height: 28px
	h2
		font-size: 60px
		line-height: 73px
		color: $accent

.form-callback
	margin: 0 auto
	max-width: 940px
	width: 100%
	display: flex
	align-items: flex-start
	justify-content: space-between
	flex-wrap: wrap
	label
		width: calc(33.33% - 10px)
	.w100
		width: 100%
	button
		margin: 0 auto
		max-width: 300px
		width: 100%
		padding: 10px

.consent
	margin: 20px auto 0
	text-align: center
	max-width: 275px
	width: 100%
	font-size: 10px
	font-weight: 500
	line-height: 12px
// callback	end

.page
	h1
		margin: 0 0 50px

// page-catalog	
.page-catalog
	margin: 0 0 80px
// page-catalog end	

// page category	
.page-category
	margin: 0 0 52px
// page category end	

// page-contacts	
.nav-tabs-contacts
	width: fit-content
	margin: 0 0 35px
	border-bottom: 1px solid #C1C1C1
	.nav-link
		font-size: 20px
		font-weight: 500
		padding: 15px 45px
	.nav-item
		margin: 0

.tab-content-contacts
	position: relative
	width: 100%
	margin: 0

.map-contacts
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0
	iframe
		width: 100%
		height: 100%

.contacts-wrapper
	margin: 111px 0 120px
	background: #fff
	width: 100%
	max-width: 380px
	box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.05)
	border-radius: 5px
	padding: 30px 35px 35px
	position: relative
	z-index: 2

.contacts-box
	margin: 0 0 27px
	&:last-child
		margin: 0
	&__title
		width: 100%
		margin: 0 0 6px
		color: #808191
	&__body
		font-weight: 500
		color: #000
		a
			color: #000
			&:hover
				color: $accent
// page-contacts	end

// about page	
.page-about
	margin: 0 0 90px
	.about-image
		width: 100%
		border-radius: 0
		img
			border-radius: 0

.about-in-number
	margin: 60px auto 0
	text-align: center
	font-size: 24px
	font-weight: 600
	span
		text-transform: uppercase
	p
		color: $accent
		font-size: 60px
		line-height: 1

.mission
	padding: 74px 0 0
	background: #FAFAFA
	h2
		margin: 0 0 40px

.about-video
	position: relative
	width: 100%
	img
		width: 100%
	&::before
		content: ''
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		background: url('../img/play.svg') no-repeat center
		background-size: cover
		width: 100px
		height: 100px

.why-us
	position: relative
	z-index: 1
	padding: 123px 0
	overflow: hidden
	&::before
		content: ''
		position: absolute
		z-index: -1
		height: 100%
		width: 894px
		background: url('../img/why-bg.svg') no-repeat right center
		background-size: cover
		left: 0
		top: 0
	.h3
		text-transform: uppercase
		text-align: center
		max-width: 290px
		margin: 0 auto
		font-size: 40px
		font-weight: 600
		color: $accent

.why-us-box
	margin: 0 0 55px
	text-align: center
	font-size: 24px
	font-weight: 500
	&__icon
		margin: 0 auto 18px
		background: $accent
		width: 90px
		height: 90px
		border-radius: 5px
		margin: 0 auto 18px
		@include d-flex

.team
	margin: 74px 0 114px

.team-card
	width: 100%
	text-align: center
	&__name
		font-size: 20px
		font-weight: 600
	&__position
		color: #BCBCBC
		margin: 5px auto 0
		max-width: 170px
		font-size: 14px
	&__photo
		width: 100%
		border-radius: 5px
		margin: 0 auto 17px
		height: 388px
		img
			width: 100%
			max-height: 100%
			border-radius: 5px
			filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.05))

// about page end	

// suppliers page
.page-suppliers
	margin: 0 0 60px
	h1
		margin: 0 0 30px
	.box-text
		line-height: 22px
	.list-dots
		padding: 0 0 0 20px

.callback-v2
	background: url('../img/callback-bg2.jpg') no-repeat center
	background-size: cover
	padding: 40px 0 56px
	h2
		margin: 0 0 40px
		font-size: 40px
		font-weight: 500
	.form-callback
		max-width: 620px
		.w50
			width: calc(50% - 10px)
		.label-file
			width: 100%
			justify-content: flex-end
			margin: 0 0 20px auto
			width: fit-content
		textarea
			height: 130px

.label-file
	color: #fff
	display: flex
	align-items: center
	font-size: 14px
	cursor: pointer
	width: fit-content
	&__icon
		@include d-flex
		width: 14px
		height: 15px
		fill: #fff
		margin: 0 0 0 5px
	input
		display: none

// suppliers page end

// delivery	
.page-payments
	margin: 0 0 36px
	h1
		margin: 0 0 50px
	ul
		margin: 0 0 20px
	.box-text
		max-width: 809px

.delivery
	margin: 0 0 100px
	h2
		margin: 0 0 30px

.delivery-content
	h3
		margin: 0 0 20px
		font-size: 20px
		font-weight: 600

.delivery-box
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15)
	background: #fff
	max-width: 420px
	width: 100%
	border-radius: 5px
	margin: -70px 0 0 auto
	padding: 34px 50px 25px 38px
	&__title
		margin: 0 0 23px
		font-size: 20px
		font-weight: 600
		color: $accent
	ul
		text-transform: uppercase
		line-height: 30px
// delivery end	

// page-news	
.page-news
	margin: 0 0 100px
	h1
		margin: 0 0 40px

.sales-card
	width: 100%
	height: 100%
	background: #fff
	border-radius: 5px
	&__image
		width: 100%
		height: 276px
		position: relative
		border-radius: 5px 5px 0px 0px
		z-index: 1
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			border-radius: 5px 5px 0px 0px
			width: 100%
			height: 100%
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
		img
			border-radius: 5px 5px 0px 0px
			width: 100%
			height: 100%
			object-fit: cover
	.date
		position: absolute
		right: 0
		top: 0
		background: #fff
		border-radius: 0px 5px 0px 0px
		padding: 5px 17px
		font-size: 14px
		color: #000
	&__body
		width: 100%
		height: calc(100% - 276px)
		padding: 25px 20px 15px
		display: flex
		flex-direction: column
	&__title
		margin: 0 0 30px
		color: #000000
		font-size: 20px
		font-weight: 600
		max-width: 360px
		&:hover
			color: $accent
	.box-text
		margin: 0 0 44px

.sales-card-link
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between
	padding: 14px 0 0
	border-top: 1px solid #E1E1E1
	color: #000000
	font-size: 14px
	font-weight: 500
	margin: auto 0 0
	&:hover
		color: $accent
	&__icon
		fill: none
		width: 16px
		height: 16px
		stroke: #999999

.recommended-product
	margin: 0 0 100px
	.nav-tabs
		margin: 0 0 30px
		width: 100%

.product-card-recommended
	width: 100%
	height: 100%
	text-align: center
	background: #fff
	padding: 14px 13px 23px
	color: #000
	.product-card__title
		max-width: 220px
		margin: 0 auto
		display: block
		min-height: auto
		max-height: none
	.product-card__img
		height: 270px
		margin: 0 auto 18px
// page-news	end

// page article	
.recommended-product
	margin: 0
	background: #FAFAFA
	padding: 40px 0

.page-article
	margin: 0 0 70px

.link-grey
	font-weight: 500
	color: #A3A3A3
	&:hover
		color: $accent

.link-all-news
	margin: 17px 0 0

.article-image
	width: 100%
	filter: drop-shadow(0px 15px 45px rgba(0, 0, 0, 0.05))
	border-radius: 5px
	img
		border-radius: 5px

.article-date
	margin: 23px 0 0

.article-description
	margin: 35px 0 56px
	font-size: 20px
	font-weight: 500

.article-box
	margin: 0 0 55px
	&:last-child
		margin: 0
	h3
		margin: 0 0 40px
		font-size: 30px
		font-weight: 600
	.box-text
		margin: 0 0 30px
	ul
		padding: 0 0 0 20px
		li
			margin: 0 0 6px
			&:last-child
				margin: 0
// page article end	

// product page	
.page-product
	margin: 0 0 60px
	h1
		font-size: 30px
		font-weight: 500
		margin: 0

.article-product
	color: #ABABAB

.link-print
	display: flex
	align-items: center
	justify-content: flex-end
	margin: 0 0 0 auto
	color: #ABABAB
	font-size: 14px
	&:hover
		color: $accent
	&__icon
		@include d-flex
		width: 18px
		min-width: 18px
		height: 18px
		margin: 0 0 0 7px
		fill: none
		stroke: #ABABAB

.availability
	margin: 0 0 30px

.form-order
	button
		margin: 29px 0 0
		padding: 0 55px

.form-order-box
	width: 100%
	margin: 0 0 16px
	&:last-child
		margin: 0
	&__title
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		margin: 0 0 14px
		color: #ABABAB
		font-size: 14px
	.tooltip-wrapper
		margin: 0 0 0 2px

.product-info
	padding: 0 0 0 25px

.product-slider
	&__item
		width: 100%
		height: 530px
		@include d-flex
		border: 1px solid rgba(0, 0, 0, 0.2)
		border-radius: 5px
		img
			border-radius: 5px
			width: 100%
			height: 100%
			object-fit: cover

.product-slider-preview
	height: 100%
	&__item
		width: 100%
		@include d-flex
		border: 1px solid rgba(0, 0, 0, 0.2)
		border-radius: 5px
		cursor: pointer
		img
			border-radius: 5px
	.slide
		margin: 0 0 20px

.nav-tabs-product
	width: 100%
	margin: 0 0 30px
	.nav-link
		font-size: 16px
		font-weight: 600
		padding: 0 15px 20px

.video-box
	width: 100%
	position: relative
	padding-bottom: 56.25%
	iframe
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
// product page end	

// page-basket
.page-basket
	margin: 0 0 80px
	h1, h2, .h2
		font-size: 24px
		font-weight: 500
		margin: 0
		width: 100%

.basket-title
	width: 100%
	background: #FAFAFA
	border-radius: 5px
	padding: 16px 40px

.basket-card
	width: 100%
	padding: 30px 0 35px 40px
	display: flex
	align-items: center
	flex-wrap: wrap
	border-bottom: 1px solid rgba(186, 186, 186, 0.5)
	&:last-child
		border: none
	&__photo
		width: 112px
		height: 112px
		@include d-flex
		border: 0.5px solid #D0D0D0
		border-radius: 5px
		img
			border-radius: 5px
			width: 100%
			height: 100%
			object-fit: cover
	&__title
		padding: 0 0 0 65px
		width: 385px
		color: #000
		font-size: 20px
		font-weight: 500
		&:hover
			color: $accent
	&__value
		width: calc(100% - 112px - 385px - 100px)
	&__clear
		width: 100px

.btn-delete
	@include d-flex
	width: 22px
	height: 22px
	min-width: 22px
	fill: #BABABA
	margin: 0 0 0 auto

.amount
	display: flex
	align-items: center
	justify-content: center
	width: 120px
	height: 40px
	border: 0.5px solid #ABABAB
	border-radius: 5px
	padding: 0 10px
	margin: 0 auto
	input
		height: 40px
		padding: 0
		text-align: center
		border: none
		border-radius: 0
		font-size: 20px
		font-weight: 500
		color: #000
		background: transparent
	span
		display: block
		cursor: pointer
		font-size: 20px
		font-weight: 500

.form-basket
	[type="submit"]
		max-width: 420px
		width: 100%
		margin: 0 auto
		padding: 0 20px
	.consent
		max-width: 411px
		margin: 17px auto 0
		color: #ABABAB
		line-height: 19px
		font-size: 16px

.form-basket-box
	width: 100%
	.basket-body
		padding: 0 36px
	.nav-tabs-contacts
		width: 100%
		margin: 0	0 30px
		.nav-link
			padding: 0 20px 10px
			text-align: center
			width: 100%
		.nav-item
			flex: 1
	.label-file
		margin: 7px 0 0 auto
	.label-file-requisites
		margin: 25px 0 0
	.label-radio
		font-size: 16px
		font-weight: 500
		&:last-child
			margin: 15px 0 0
	.label-radio-delivery
		font-size: 10px
		.radio-text
			margin: 2px 0 0
	.mt-30
		margin-top: 30px

.label-file-requisites
	padding: 10px 17px
	border: 1px solid #E3E3E3
	border-radius: 5px

.label-file-black
	color: #000
	.label-file__icon
		fill: #000

.label-radio-black
	color: #000
	.radio-custom
		border: 1px solid #A4A4A4
		border-radius: 50%
		position: relative
		margin: 0 17px 0 0
		width: 18px
		height: 18px
		min-width: 18px
		&::before
			content: ''
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			background: #A4A4A4
			width: 10px
			height: 10px
			border-radius: 50%
			position: absolute
	.inp-radio:checked ~ .radio-custom
		border-color: $accent
		&::before
			background: $accent

.tab-content-basket
	>.js-tab-content
		display: none
		&.active
			display: block

.label-radio-delivery
	width: 100%
	height: 100%
	flex-direction: column
	align-items: center
	text-align: center
	position: relative
	z-index: 1
	padding: 10px
	font-size: 10px
	cursor: pointer
	.tooltip-wrapper
		top: 3px
		right: 5px
		position: absolute
		z-index: 2
		text-align: left
	input
		display: block
		position: absolute
		left: 0
		top: 0
		padding: 0
		background: transparent
		width: 100%
		height: 100%
		border-radius: 5px
		border: 0.698106px solid #E3E3E3
		z-index: 1
		&:checked
			border: 1px solid #D60000
	.radio-title
		margin: 10px auto 0
		font-size: 13px
		font-weight: 600

.label-radio__image
	@include d-flex
	height: 67px
	margin: 0 auto auto
	img
		max-height: 100%
// page-basket end
